
<div class="container mt-4">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h2 class="text-center text-primary">TODOs</h2>
        <a routerLink="/creat-todo" class="btn btn-primary">Create New Todo</a>
    </div>
  
  
  <div *ngIf="loading" class="alert alert-info text-center">Loading...</div>
  <div *ngIf="error" class="alert alert-danger text-center">{{ error }}</div>
  
  <div *ngIf="!loading && !error" class="card">
    <ul class="list-group list-group-flush">
      <li *ngFor="let post of posts" class="list-group-item d-flex justify-content-between align-items-center">
        {{ post.title }}
        <span class="badge bg-secondary">{{ post.status }}</span>
      </li>
    </ul>
  </div>
</div>
